p {
   
    font-size: large;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 5px 5px 5px green;
    font-family: 'Shadows Into Light', cursive;
 


}

#spark {
    
    margin-left: 700px;
    border


}
h1 {
   
   font-family: 'Shadows Into Light', cursive;
   
}
