
body {
    margin: 0;
   )

    ;
}

.fundocomputador {
    width: 100%;


}

.container {
    position: relative;
    text
}

.logoembratel {
    position: absolute;
    left: 10%;
    top: 10%;

    width: 25%;
}

.container1 {

    background-color: black;
    position: absolute;




}

.rodape {
    background-color: blue;
    position: 0px;
}


.bolaengrenagem {
    background-color: rgba(86, 204, 242, 1);
    width: 100px;
    height: 100px;
    display: ;

    border-radius: 50%;



}
*/